<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Nevm add</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">    
    </head>
    <body>
        <form class="add-form" action="#" th:action="@{/adduser}" th:object="${user}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    
    <label for="secname">Surname</label>
    <input type="text" th:field="*{secname}" id="secname" placeholder="Surname">
    <span class="error" th:if="${#fields.hasErrors('secname')}" th:errors="*{secname}"></span>
    
    <label for="pass" >Password</label>
    <input type="password" th:field="*{pass}" id="pass" placeholder="Password">
    <span class="error" th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}"></span>
    
    
    <label for="email">Email</label>
    <input type="email" th:field="*{email}" id="email" required="required" autofocus="autofocus" placeholder="Your email">
    <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    
    <label for="radio">Sex</label>
    <div class="rad">
    <input type="radio" th:field="*{radio}" id="radio" value="Male"  name="f1"><label class="add-form__lable">Male</label> 
    <input type="radio" th:field="*{radio}" id="radio" value="Female"  name="f1"><label class="add-form__lable">Female</label> 
    <span class="error" th:if="${#fields.hasErrors('radio')}" th:errors="*{radio}"></span>
    </div>
    
    <label for="checkbox">Language</label>
    <div class="rad">
    <input th:field="*{checkbox}" id="checkbox" type="checkbox" value="English" name="f2"><label class="add-form__lable">English</label> 
    <input th:field="*{checkbox}" id="checkbox" type="checkbox" value="Ukrainian" name="f2"><label class="add-form__lable">Ukrainian</label> 
    <input th:field="*{checkbox}" id="checkbox" type="checkbox" value="Russian" name="f2"><label class="add-form__lable">Russian</label> 
    <input th:field="*{checkbox}" id="checkbox" type="checkbox" value="French" name="f2"><label class="add-form__lable">French</label>
    <input th:field="*{checkbox}" id="checkbox" type="checkbox" value="German" name="f2"><label class="add-form__lable">German</label>
    <span class="error" th:if="${#fields.hasErrors('checkbox')}" th:errors="*{checkbox}"></span>
    </div>
<!--    <label for="tell">tell</label>
    <input th:field="*{tell}" id="tell" type="tell" name="tel" pattern="[0-9]{10}">
    <span th:if="${#fields.hasErrors('tell')}" th:errors="*{tell}"></span>
    -->
    <label for="color">Your color</label>
    <input th:field="*{color}" id="color" type="color" name="color">
    <span  class="error" th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></span>
    
    <label for="date">Date of Birth</label>
    <input th:field="*{date}" id="date" type="date" name="date">
    <span class="error" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>
    
    <label for="time">Preferred time</label>
    <input th:field="*{time}" id="time" type="time" name="time">
    <span class="error" th:if="${#fields.hasErrors('time')}" th:errors="*{time}"></span>
    
    <label for="number">Number of attempts</label>
    <input th:field="*{number}" id="number" type="number" name="number">
    <span class="error" th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></span>
    
    <label for="range">Aspiration</label>
    <input th:field="*{range}" id="range" type="range" min="1" max="10">
    <span class="error" th:if="${#fields.hasErrors('range')}" th:errors="*{range}"></span>
    
    <button type="submit" class="btn-2"><span>Add User</span></button> 

    
    
    
    </body>
</html>
