%check-font {
	font-family: Roboto;
	font-weight: 500;
	font-size: 30px;
	line-height: 35px;
	color: #ffffff;
	padding-left: 45px;
}

%check-before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
	width: 28px;
	height: 28px;
}
